.quotes{
    border: rgb(158, 156, 156) solid;
    border-width: 8px;
    
    color:  rgb(240, 194, 44);
    
    width: 100%;
    margin: auto;
    padding:auto ;
    text-align: center;
    font-size:  30px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    margin-top: 3 em;
    
}
body{
    background-color: white;
    width :90%;
    max-width: 1500px;
    margin: 0 auto;
}

div{
    margin-top:10 px ;
    margin-bottom: 10 px;
}
.header { 	
margin-top: 0;
    padding-top: 50px;	color: white; 	font-size: 70px; 	text-align: center; }
.image 

{ 
    
    background-image: url(./img/The\ Pursuit\ of\ Happyness\ \(2006\).jfif); 	
    background-repeat: repeat;
    background-size: 500px;
    height: 250px;;
    background-position-x: center;
    margin-bottom: 40px;
}
.author{
    font-style: italic ;
    font-size: 30 px;
}
a{
    text-align: end;
    color: maroon;
    
    font-weight: bolder;
    font-size: 25px;
}